{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cftj.css') }}" type="text/css">
{% endblock %}
{% block content %}
<div class="zt">
    <p class="tishi">请输入患者的详细信息：</p>
    <form action="{{ url_for('recommend') }}" method="post">
        <div>
                <span class="id">患者ID：<input type="text" class="xx" name="hz_id" required></span>
                <span class="l11">
                    姓名：<input type="text" class="xx" name="nm" required>
                </span>
            <span class="l12">
                    性别：<select name="xb" id="xb" class="sl">
                        <option value="man">男性</option>
                        <option value="women">女性</option>
                        <option value="none" selected="selected">--请选择性别--</option>
                    </select>
                </span>
        </div>
        <div>
                <span class="l21">
                    年龄：<input type="text" class="xx" name="age">
                </span>
            <span class="l22">
                    血型：<select name="abo" id="" class="sl">
                        <option value="A">A型</option>
                        <option value="B">B型</option>
                        <option value="AB">AB型</option>
                        <option value="O">O型</option>
                        <option value="none" selected>--请选择血型--</option>
                    </select>
                </span>
        </div>
        <p class="tishi tishi2">请输入规范化后的病史:</p>
        <textarea name="pmh" id="cftj" cols="100" rows="10">请输入规范化后的病史</textarea>
        <br/>
        <div>
            <select name="moxing" id="moxing">
                <option value="none" selected>--请选择推荐模型--</option>
            </select>
            <input type="submit" value="开始推荐" id="kstj">
        </div>
    </form>
</div>

{% endblock %}